      p {
            color: red;
        }
        
        p:not(:first-child) {
            font-size: 16px;
            font-weight: bold;
        }
        
        div {
            color: blue;
        }